@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,400italic,700,700italic,900,900italic");
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

.post-card {
  background-color: #fdfdfd;
  box-shadow: 0 1px 32px rgba(0, 0, 0, 0.12), 0 1px 16px rgba(0, 0, 0, 0.24);
  margin: 2.5em auto 3.75em;
}
.post-card .img-container {
  background: url(https://images.unsplash.com/photo-1421809313281-48f03fa45e9f?auto=format&fit=crop&w=1410&q=80)
    no-repeat 75% scroll;
  background-size: contain;
  width: 100%;
  height: 40%;
}

.post-card .post-meta {
  color: #888;
  font-size: 0.8em;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding-left: 1px;
  vertical-align: middle;
}
.post-card .post-meta a {
  color: #3a7cce;
  font-size: 1.05em;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.post-card .post-meta a:hover {
  color: #44bcc5;
  transition: color 400ms ease-in-out;
}
.post-card .post-meta .fa-calendar {
  position: relative;
  color: #777;
  top: -1px;
  padding-right: 5px;
}
.post-card .post-text {
  padding: 11px 18px 15px;
}
.post-card .post-text .post-title {
  font-size: 1.6em;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 6px 0 9px;
  cursor: pointer;
}
.post-card .post-text .post-desc {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9em;
  letter-spacing: 0.2px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 75px;
  width: 100%;
  white-space: prewrap;
  padding: 3px 2px;
}
.post-card .post-text .fa-circle-o {
  position: relative;
  color: #666;
  font-size: 6px;
  top: -3px;
  padding: 0 5px 0 3.5px;
}
